/* HEADER */
.header--logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

.container {
    display: flex;
    align-items: center;
    display: inline-flex;
    float: left;
}
.logo {
    padding-left: 24px;
}
.text {
    padding-bottom: 5px;
    
   
}

nav {
  text-align: right;
  float:right;
  padding-top: 15px; 
  padding-right: 24px; 
}

/* BANNER */

.container {
   
    align-items: center;
    display: inline-flex;
    float: center;
  

}   

.image {
    width: 60%;
    padding: 24px 32px;
    display: block;
    background-color:  lightgray;
}

.banner {
        margin-top: 74px;
        padding: 40px 0 100px 0;
        background-color: lightgray;  
}





#button {
    background-color: rgb(66, 65, 65);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 148px;
    padding-right: 148px;
}

/* LEARNING */

.image2 {
    width: 60%;
    padding: 32px 24px;
    display: inline-block;
    float: left;
    
}

.container {
   
    align-items: center;
    display: inline-flex;
    float: center;
}   







