/* HEADER */
.header--logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

.container {
    display: flex;
    align-items: center;


}

/* IMAGES */




/* FOOTER */
.footer--right {
    text-align: right;
    padding-right: 24px;
}

.footer {
   padding-left: 24px;
}