/* HEADER */
.header--logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

.container {
    display: flex;
    align-items: center;
    display: inline-flex;
    float: left;
}
.text {
    padding-bottom: 5px;
   
}

nav {
  text-align: right;
  float:right;
  padding-top: 15px;  
}

/* BANNER */

.image {
    width: 60%;
    padding: 32px 24px;
}

/* LEARNING */









